html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #000;
  outline: 0;
}

body {
  height: 100%;
  margin: 0 auto;
}
/*::-webkit-scrollbar{
  width:10px !important;
  background-color: #00abea44 !important;
}
::-webkit-scrollbar-thumb {!*滚动条里面小方块*!
  background: #00abea44 !important;
  border-radius: 0 !important;
  border: 0px !important;
}

::-webkit-scrollbar-track-piece  {
  background-color: #123a6b !important;
}*/

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-gray{background-color: #0A2747b5}
.bg-black{background-color: #123a6b}
.form-title{background-color: #00abea44}

/*echart表格颜色列表，优先使用级是从上到下*/
.echart-green { color: #8ec63d }
.yellow { color: #ffc512 }
.red { color: #ff4323 }
.cyan { color: #00ddff }
.purple { color: #bb10dd }
.lightblue { background-color: #00a2ff }
.orange { background-color: #ff7a00 }
.blue { background-color: #0005ff }
.green { background-color: #169e33 }
.brightgreen { background-color: #c2ff00 }
/*echart表格颜色列表*/

.txt-yellow{color: #ffc512}

.txt-darkblue-12{color: rgba(0, 221, 255, 0.5); font-size: 12px;}
.txt-darkblue-13{color: rgba(0, 221, 255, 0.5); font-size: 13px;}
.txt-darkblue-14{color: rgba(0, 221, 255, 0.5); font-size: 14px;}
.txt-darkblue-16{color: rgba(0, 221, 255, 0.5); font-size: 16px;}
.txt-darkblue-18{color: rgba(0, 221, 255, 0.5); font-size: 18px;}
.txt-darkblue-20{color: rgba(0, 221, 255, 0.5); font-size: 20px;}

.txt-blue-12{color: #00ddff; font-size: 12px;}
.txt-blue-13{color: #00ddff; font-size: 13px;}
.txt-blue-14{color: #00ddff; font-size: 14px;}
.txt-blue-16{color: #00ddff; font-size: 16px;}
.txt-blue-18{color: #00ddff; font-size: 18px;}
.txt-blue-20{color: #00ddff; font-size: 20px;}

.txt-white-12{color: rgba(255, 255, 255, 0.8); font-size: 12px;}
.txt-white-13{color: rgba(255, 255, 255, 0.8); font-size: 13px;}
.txt-white-14{color: rgba(255, 255, 255, 0.8); font-size: 14px;}
.txt-white-16{color: rgba(255, 255, 255, 0.8); font-size: 16px;}
.txt-white-18{color: rgba(255, 255, 255, 0.8); font-size: 18px;}
.txt-white-20{color: rgba(255, 255, 255, 0.8); font-size: 20px;}

.txt-gray-12{color: rgba(255, 255, 255, 0.6); font-size: 12px;}
.txt-gray-13{color: rgba(255, 255, 255, 0.6); font-size: 13px;}
.txt-gray-14{color: rgba(255, 255, 255, 0.6); font-size: 14px;}
.txt-gray-16{color: rgba(255, 255, 255, 0.6); font-size: 16px;}
.txt-gray-18{color: rgba(255, 255, 255, 0.6); font-size: 18px;}
.txt-gray-20{color: rgba(255, 255, 255, 0.6); font-size: 20px;}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
}
.block-line{
  display: inline-block;
}

.simple-line{
  overflow: hidden;
  white-space: nowrap;
}

.frame-bg {
  border: 3px solid;
  border-image: linear-gradient(125deg, rgba(43, 138, 165, 0.40) , transparent 55%, rgba(43, 138, 165, 0.6) )10 10 1;
  border-image-slice:80;
  background: linear-gradient(135deg, #124962 50%, transparent 50%) left top no-repeat,
  linear-gradient(225deg, #115a74 50%, transparent 50%) right top no-repeat,
  linear-gradient(45deg, #115a74 50%, transparent 50%) left bottom no-repeat,
  linear-gradient(-45deg, #115a74 50%, transparent 50%) right bottom no-repeat;
  background-size: 5px 5px;
}

.frame-bg2 {
  border: 1px #115a74 solid;
  background: linear-gradient(135deg, #124962 50%, transparent 50%) left top no-repeat,
  linear-gradient(225deg, #115a74 50%, transparent 50%) right top no-repeat,
  linear-gradient(45deg, #115a74 50%, transparent 50%) left bottom no-repeat,
  linear-gradient(-45deg, #115a74 50%, transparent 50%) right bottom no-repeat;
  background-size: 7px 7px;
  box-shadow: inset 0px 0px 15px 0px
  rgba(0, 221, 255, 0.4);
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid  rgba(74, 144, 226, 0.28);
  border-right: 100px solid transparent;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

.grow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  opacity: 0;
  background: -webkit-radial-gradient(rgba(255,0,0,1), rgba(255,0,0,0) 70%);
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform:perspective(500px) rotateX(-30deg) translate(-50%, -50%);
  animation: myfirst 1.5s infinite;
}
.alarm{
  position:absolute;
  left:0;
  top:0;
  z-index:77;
}
.alarm .pulse{
  position:absolute;
  height:80px;
  width:80px;
  border:8px solid #FF4500;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -webkit-box-shadow:0 0 10px #FF4500,0 0 20px #FF4500 inset;
  -moz-box-shadow:0 0 10px #FF4500,0 0 20px #FF4500 inset;
  box-shadow:0 0 10px #FF4500,0 0 20px #FF4500 inset;
  opacity:.12;
  filter:alpha(opacity=0);
  -webkit-animation:warn 2s ease-out both;
  -moz-animation:warn 2s ease-out both;
  -o-animation:warn 2s ease-out both;
  animation:warn 2s ease-out both;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  background:0 0
}
@keyframes warn{
  0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity:1}
  100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:0}
}
.alarm .delay-01{-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}
.alarm .delay-02{-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}
@keyframes myfirst{
  0%   {width: 0px; height: 0px;opacity: 0;}
  50%  {width: 120px; height: 120px;opacity: 0.8;}
  100% {width: 0px; height: 0px;opacity: 0;}
}
